.glass-card {
  display: flex;
  justify-content: center;
  height: 557px;
  max-width: 410px;
  margin: 0 auto;
  background: #5882c138;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.171);
  padding: 40px;
  width: 100%;
  backdrop-filter: blur(16px);
}
