@import "tailwindcss";

:root {
  --background: radial-gradient(circle at center, #0085ff, #003465);
  --foreground: #ededed;
  --primary-color: #003465;
  --primary-hover: #00294e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

.error {
  font-size: 12px;
  min-height: 18px;
  margin-top: 4px;
}

.block__card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-base {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
}

.form-title {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  padding-bottom: 14px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-label {
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  padding-bottom: 8px;
}

.form-input {
  box-sizing: border-box;
  padding: 8px 16px;
  width: 100%;
  outline: none;
  border: 0.71px solid #bcbec0;
  border-radius: 5px;
  height: 32px;
  background: #fff;
  color: black;
}

.form-input:read-only {
  cursor: default;
  opacity: 0.8;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: var(--primary-color);
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border: none;
  transition: background-color 0.2s;
}

.primary-button:hover {
  background: var(--primary-hover);
}

.social-section {
  width: 100%;
  margin: 12px 0;
}

.social-text {
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #fff;
}

@media (max-width: 425px) {
  .form-base {
    max-width: 200px;
  }

  .form-title {
    font-size: 18px;
  }

  .form-container {
    margin-bottom: 8px;
  }

  .form-label {
    padding-bottom: 4px;
  }

  .form-input {
    padding: 4px 4px;
  }

  .form-input::placeholder {
    font-size: 12px;
  }

  .primary-button {
    height: 36px;
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .form-base {
    max-width: 180px;
  }

  .form-input::placeholder {
    font-size: 10px;
  }
}
