.social__buttons {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-bottom: 20px;
}

.social__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0.71px solid #bcbec0;
  border-radius: 7px;
  width: 72px;
  height: 35px;
  background: #fff;
  transition: background-color 0.2s;
}

.social__btn:hover {
  background: #f0f0f0;
}

.social__img {
  width: 18px;
  height: 18px;
}

@media (max-width: 375px) {
  .social__btn {
    width: 50px;
  }
}